<div class="container mt-3">
    <div class="mb-4">
        <div>
            <h2 class="text-center mb-3 fw-bold text-primary border-bottom border-3 border-primary w-f">Notification</h2>
        </div>
        <div class="row d-flex justify-content-center gap-2">
            <div class="col-8 col-lg-5 mx-auto bg-info bg-gradient pt-2 rounded">
                <div class="text-center">
                    <h4 class="">Notification 1!</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente eaque nam.</p>
                </div>
            </div>
            <div class="col-8 col-lg-5 mx-auto bg-info bg-gradient pt-2 rounded">
                <div class="text-center">
                    <h4>Notification 2!</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ipsa commodi?</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div>
            <h2 class="text-center mb-3 fw-bold text-primary border-bottom border-3 border-primary w-f">Overview</h2>
        </div>

        <div class="col-md-3">
            <div class="card bg-info">
                <div class="card-body d-flex justify-content-around align-items-center">
                    <div class="">
                        <div class="card-body-number">4587</div>
                        <div class="card-body-name">Patients</div>
                    </div>
                    <div class="">
                        <i class="bi bi-person-wheelchair"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-primary">
                <div class="card-body d-flex justify-content-around align-items-center">
                    <div class="">
                        <div class="card-body-number">12458</div>
                        <div class="card-body-name">Encounters</div>
                    </div>
                    <div class="">
                        <i class="bi bi-clipboard2-pulse-fill"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-warning">
                <div class="card-body d-flex justify-content-around align-items-center">
                    <div class="">
                        <div class="card-body-number">102</div>
                        <div class="card-body-name">Operations</div>
                    </div>
                    <div class="">
                        <i class="bi bi-calendar-check-fill"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-danger ">
                <div class="card-body d-flex justify-content-around align-items-center">
                    <div class="">
                        <div class="card-body-number">14458</div>
                        <div class="card-body-name">Lab & Radiology</div>
                    </div>
                    <div class="">
                        <i class="bi bi-heart-pulse-fill"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>