<div>
  <div class="">
    <div *ngIf="isDelete == false; else delete" class="fs-3 w-f fw-bold my-4">
      Schedule information
    </div>
    <ng-template #delete>
      <div class="fs-3 w-f fw-bold my-4">Delete?</div>
    </ng-template>
  </div>
  <div class="my-4">
    <div class="w-75 mx-auto">
      <div *ngIf="data && data.name" class="d-flex gap-5 my-2">
        <div class="fw-bold float-end ms-5 fs-6">Name:</div>
        <div class="fs-6">{{ data.name | titlecase }}</div>
      </div>
      <div *ngIf="data && data.email" class="d-flex gap-5 my-2">
        <div class="fw-bold float-end ms-5 fs-6">Email:</div>
        <div class="fs-6">{{ data.email | titlecase }}</div>
      </div>
      <div *ngIf="data && data.dateStart" class="d-flex gap-5 my-2">
        <div class="fw-bold float-end ms-5 fs-6">Date start:</div>
        <div class="fs-6">{{ data.dateStart | date : "fullDate" }}</div>
      </div>
      <div *ngIf="data && data.dateEnd" class="d-flex gap-5 my-2">
        <div class="fw-bold float-end ms-5 fs-6">Date end:</div>
        <div class="fs-6">{{ data.dateEnd | date : "fullDate" }}</div>
      </div>
      <div *ngIf="data && data.type" class="d-flex gap-5 my-2">
        <div class="fw-bold float-end ms-5 fs-6">Type:</div>
        <div class="fs-6">{{ data.type | titlecase }}</div>
      </div>
      <div *ngIf="data && data.phoneNumber" class="d-flex gap-5 my-2">
        <div class="fw-bold float-end ms-5 fs-6">PhoneNumber:</div>
        <div class="fs-6">{{ data.phoneNumber }}</div>
      </div>
      <div *ngIf="data && data.specialties" class="d-flex gap-5 my-2">
        <div class="fw-bold float-end ms-5 fs-6">Specialties:</div>
        <div class="fs-6">{{ data.specialties | titlecase }}</div>
      </div>
    </div>
  </div>

  <div class="mt-5 d-flex justify-content-center gap-5">
    <button class="btn btn-primary fw-bold px-4 py-2" (click)="confirm()">
      Yes
    </button>
    <button class="btn btn-danger fw-bold px-4 py-2" (click)="cancel()">
      No
    </button>
  </div>
</div>
