<div class="parent">
    <div class="">
        <img class="w-100" style="height: 300px; object-fit: cover;" src="../../../../assets/Data/4.jpg" alt="">
    </div>
    <div class="d-flex w-75 px-3 child">
        <div style="width: 30%;">
            <img class="w-100 my-2" src="../../../../assets/Data/4.jpg" alt="">
        </div>
        <div class="my-auto mx-3" style="height: fit-content; width: 70%;">
            <div class="fs-3 fw-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, hic!
            </div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse molestiae dicta rem impedit distinctio
                praesentium officiis voluptatem laboriosam, velit provident.</div>
        </div>
    </div>
</div>