<div *ngIf="dataChat">
  <div
    class="header border-bottom d-flex justify-content-between align-items-center px-5"
  >
    <div class="h-100 d-flex align-items-center gap-3">
      <img
        class="h-75 rounded-circle"
        [src]="getFullImagePath(dataChat.avatar)"
        alt=""
      />
      <div class="fw-bold fs-5">{{ dataChat.chatName }}</div>
    </div>
    <div *ngIf="dataChat.isGroupChat" style="cursor: pointer">
      <div mat-button [matMenuTriggerFor]="menu">
        <i class="bi bi-three-dots-vertical"></i>
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="groupChatInfo(dataChat._id)">
          Group chat info
        </button>
      </mat-menu>
    </div>
  </div>

  <div class="list overflow-auto p-3" *ngIf="messages">
    <div
      [class.true-value]="item.sender._id === idCurrent"
      [class.false-value]="item.sender._id !== idCurrent"
      *ngFor="let item of messages.data"
      class="mb-3"
    >
      <div>
        <div
          *ngIf="item.chat.groupAdmin && item.sender._id !== idCurrent"
          class="ms-5 fw-bold"
        >
          {{ item.sender.name }}
        </div>
        <div class="message d-flex gap-2">
          <img
            loading="lazy"
            class="rounded-circle my-auto"
            [src]="getFullImagePath(item.sender.avatar)"
            alt=""
            [style.order]="item.sender._id === idCurrent ? '2' : '1'"
          />

          <div
            class="px-2 flex-center"
            [style.order]="item.sender._id === idCurrent ? '1' : '2'"
            style="max-width: 75%"
          >
            <div *ngIf="item.content.length > 0; else noMessage">
              <div
                *ngIf="item.status === 'edit'"
                style="font-size: 80%"
                class="w-f mx-auto"
              >
                Edited on {{ item.updatedAt | date : "medium" }}
              </div>

              <div class="rounded-5 bg-info-subtle text-break px-4 py-1 w-f">
                {{ item.content }}
              </div>
            </div>

            <ng-template #noMessage>
              <div>
                <div style="font-size: 80%" class="w-f mx-auto">
                  Deleted on {{ item.updatedAt | date : "medium" }}
                </div>

                <div
                  class="rounded-5 bg-dark-subtle text-break px-4 py-1 w-f fst-italic"
                >
                  Message has been deleted!
                </div>
              </div>
            </ng-template>
          </div>

          <!--  -->
          <div
            class="flex-center"
            *ngIf="item.content.length > 0 && item.sender._id === idCurrent"
          >
            <button mat-button [matMenuTriggerFor]="menu">
              <i class="bi bi-three-dots optionContent"></i>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="handleEdit(item)">Edit</button>
              <button mat-menu-item (click)="deleteMessage(item)">
                Delete
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
    </div>

    <div #scrollBottom></div>
  </div>

  <div class="send">
    <div *ngIf="isTyping">
      <img
        src="../../../../../../assets/Data/typing.gif"
        class="typing"
        alt=""
      />
    </div>

    <div class="flex-center gap-3 pt-3" [formGroup]="form" (ngSubmit)="send()">
      <mat-icon
        *ngIf="isSend === false"
        class="form-icon"
        (click)="cancelEdit()"
        >cancel</mat-icon
      >
      <input
        type="text"
        formControlName="message"
        (keydown)="onKeyUp($event)"
        class="form-control border px-5 border-2 border-info"
        placeholder="Aa ..."
        (keydown)="keyFunction($event)"
      />
      <mat-icon
        *ngIf="isSend === true; else isEdit"
        (ngSubmit)="send()"
        class="form-icon"
        >send</mat-icon
      >

      <ng-template #isEdit>
        <mat-icon class="form-icon" (click)="edit()">done</mat-icon>
      </ng-template>
    </div>
  </div>
</div>
