.form {
  position: relative;

  &-input {
    box-sizing: border-box;

    &-field {
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 0 10px 0 10px;

      &-input {
        height: 45px;
        background: transparent;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        outline: none;
        margin-bottom: 20px;
        color: #40414a;
      }

      .textWarning {
        font-size: 15px;
        margin-top: -10px;
      }
    }
  }
}

.form-input .form-input-field label {
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  transition: 0.5s;
}

.form-input-field input:focus ~ label {
  top: -10px;
  font-size: 13px;
}

.form-input-field input:valid ~ label {
  top: -10px;
  font-size: 13px;
  color: #5d5076;
}

.form-input-field .input:focus,
.form-input-field .input:valid {
  border-bottom: 1px solid #743ae1;
}

@media only screen and (max-width: 768px) {
  .row {
    max-width: 420px;
    width: 100%;
  }
}

.info {
  p {
    text-align: start;

    span {
      font-weight: bold;
    }
  }
}
