<div class="container mt-3">
    <div class="row mb-4">
        <div class="col-12">
            <h2 class="text-center mb-3 section-title">Notification</h2>
        </div>
        <div class="col-md-6">
            <div class="alert alert-success text-center" role="alert">
                <h4 class="alert-heading">Notification 1!</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente eaque nam.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="alert alert-warning text-center" role="alert">
                <h4 class="alert-heading ">Notification 2!</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ipsa commodi ipsam?</p>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <h2 class="text-center mb-3 section-title">Overview</h2>
        </div>

        <div class="col-md-3">
            <div class="card bg-info">
                <div class="card-body d-flex align-items-center">
                    <div class="mr-3">
                        <div class="number">4587</div>
                        <div class="card-name">Patients</div>
                    </div>
                    <div class="icon-box ml-auto">
                        <i class="bi bi-person-wheelchair"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-primary">
                <div class="card-body d-flex align-items-center">
                    <div class="mr-3">
                        <div class="number">12458</div>
                        <div class="card-name">Encounters</div>
                    </div>
                    <div class="icon-box ml-auto">
                        <i class="bi bi-clipboard2-pulse-fill"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-warning">
                <div class="card-body d-flex align-items-center">
                    <div class="mr-3">
                        <div class="number">102</div>
                        <div class="card-name">Operations</div>
                    </div>
                    <div class="icon-box ml-auto">
                        <i class="bi bi-calendar-check-fill"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-danger ">
                <div class="card-body d-flex align-items-center">
                    <div class="mr-3">
                        <div class="number">14458</div>
                        <div class="card-name">Lab & Radiology</div>
                    </div>
                    <div class="icon-box ml-auto">
                        <i class="bi bi-heart-pulse-fill"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <canvas id="barChart">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <canvas id="lineChart"></canvas>
                </div>
            </div>
        </div>

    </div>

</div>