.form {
    position: relative;

    .form-select {
        position: absolute;
        height: fit-content;
        border-right: none;
    }

    .form-select:focus {
        box-shadow: none;
        border: none;
    }

    .form-input:focus {
        box-shadow: none;
        border: none;
    }

    .search {
        position: absolute;
        scale: 1.3;
        cursor: pointer;
        right: 3%;
        top: 25%;
    }
}