<div class="row d-flex justify-content-center">
    <a *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]" href=""
        class="col-10 col-sm-5 col-md-3 text-dark mb-5 rounded p-2 mx-3" style="background-color: rgb(239, 239, 245);">
        <div>
            <img class="w-100 rounded mx-auto" src="../../../../assets/Data/4.jpg" alt="">
        </div>
        <div>
            <div class="px-3 pt-3">
                <div>
                    <h4 class="" style="text-align: justify;">Lorem ipsum dolor sit amet
                        consectetur
                        adipisicing elit.
                        Cum ducimus consequatur ipsam
                        iste
                        iusto fugit.</h4>
                </div>
                <div *ngIf="screenWidth > 768">
                    <h6 class="test" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.
                        Molestias minus, dolor
                        excepturi
                        beatae optio nam sequi necessitatibus magni delectus quibusdam ut repudiandae eum?
                        Provident
                        voluptatem aliquam dolore animi, unde nobis?</h6>
                </div>
                <div *ngIf="displayPrice != false"
                    class="d-flex justify-content-between text-danger border-top border-danger border-2 px-4 pt-2">
                    <p>Price:</p>
                    <p>15 000 000d</p>
                </div>
            </div>
        </div>
    </a>
</div>