img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.detail {
    font-size: 14px;
    color: rgb(70, 70, 70);
}


.review-text {
    height: fit-content;
}

.star-rate {
    color: #ffc107;
    font-size: 35px;
}

.label {
    color: #ffc107;
}

.textWarning {
    font-size: 15px;

}